@{Layout = "~/Views/Shared/_Layout.cshtml";}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Template Bootstrap</title>	  	  <!-- Bootstrap CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    @*<link href="css/Site.css" rel="stylesheet">*@
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="Index">Projeto Engenharia 3</a>
            </div>
        </div>
    </nav>
    <br>
    <br>
    <div id="main" class="container-fluid">
        <h2 class="page-header">Adicionar Aluno</h2>
        <div class="row">
            <h3>Aluno</h3>
            <div class="form-group col-md-4">
                <label for="nome">Nome</label>
                <input type="text" class="form-control" id="txtAluno" placeholder="Digite o nome do aluno">
            </div>

            <div class="form-group col-md-4">
                <label for="ra">RA</label>
                <input type="text" class="form-control" id="txtRa" placeholder="Digite o RA">
            </div>

            <div class="form-group col-md-4">
                <label for="dtNascimento">Data Nascimento</label>
                <input type="text" class="form-control" id="txtDtNascimento" placeholder="Digite a data de nascimento">
            </div>
            <br />

            <h3>Documento</h3>
            <div class="form-group col-md-4">
                <label for="codigo">Código</label>
                <input type="text" class="form-control" id="txtCodigo" placeholder="Digite o código">
            </div>

            <div class="form-group col-md-4">
                <label for="validade">Validade</label>
                <input type="text" class="form-control" id="txtValidade" placeholder="Digite a validade">
            </div>

            <div class="form-group col-md-4">
                <label for="tpDocumento">Tipo Documento</label>
                <br />
                <select name="tpDocumento" id="ddlTpDocumento" type="text" class="form-control">
                </select>
            </div>
            <br />

            <h3>Curso</h3>
            <div class="form-group col-md-6">
                <label for="nome">Nome</label>
                <select name="nome" id="ddlCurso" type="text" class="form-control"></select>
            </div>

            <div class="form-group col-md-6">
                <label for="modelo">Modelo</label>
                <select name="modelo" id="ddlModelo" type="text" class="form-control">
                    <option value="Presencial">Presencial</option>
                    <option value="EAD">EAD</option>
                </select>
            </div>

            @*<div class="form-group col-md-4">
                    <label for="tpCurso">Tipo Curso</label>
                    <br />
                    <select name="tpCurso" id="ddlTpCurso" type="text" class="form-control"></select>
                </div>*@
            <br />

            <h3>Disciplina</h3>
            <div class="form-group col-md-12">
                <label for="nome">Nome</label>
                <select name="nome" id="ddlDisciplina" type="text" class="form-control"></select>
            </div>
            <br />

            <h3>Endereço</h3>
            <div class="form-group col-md-4">
                <label for="logradouro">Logradouro</label>
                <input type="text" class="form-control" id="txtLogradouro" placeholder="Digite o logradouro">
            </div>

            <div class="form-group col-md-4">
                <label for="numero">Número</label>
                <input type="text" class="form-control" id="txtNumero" placeholder="Digite o número">
            </div>

            <div class="form-group col-md-4">
                <label for="cep">CEP</label>
                <input type="text" class="form-control" id="txtCep" placeholder="Digite o cep">
            </div>

            <div class="form-group col-md-4">
                <label for="cidade">Cidade</label>
                <input type="text" class="form-control" id="txtCidade" placeholder="Digite a cidade">
            </div>

            <div class="form-group col-md-4">
                <label for="estado">Estado</label>
                <br />
                <select name="estado" id="txtEstado" type="text" class="form-control">
                    <option value="AC">Acre</option>
                    <option value="AL">Alagoas</option>
                    <option value="AP">Amapá</option>
                    <option value="AM">Amazonas</option>
                    <option value="BA">Bahia</option>
                    <option value="CE">Ceará</option>
                    <option value="DF">Distrito Federal</option>
                    <option value="ES">Espírito Santo</option>
                    <option value="GO">Goiás</option>
                    <option value="MA">Maranhão</option>
                    <option value="MT">Mato Grosso</option>
                    <option value="MS">Mato Grosso do Sul</option>
                    <option value="MG">Minas Gerais</option>
                    <option value="PA">Pará</option>
                    <option value="PB">Paraíba</option>
                    <option value="PR">Paraná</option>
                    <option value="PE">Pernambuco</option>
                    <option value="PI">Piauí</option>
                    <option value="RJ">Rio de Janeiro</option>
                    <option value="RN">Rio Grande do Norte</option>
                    <option value="RS">Rio Grande do Sul</option>
                    <option value="RO">Rondônia</option>
                    <option value="RR">Roraima</option>
                    <option value="SC">Santa Catarina</option>
                    <option value="SP">São Paulo</option>
                    <option value="SE">Sergipe</option>
                    <option value="TO">Tocantins</option>
                </select>
            </div>

            <div class="form-group col-md-4">
                <label for="tpEndereco">Tipo Endereço</label>
                <br />
                <select name="tpEndereco" id="ddlTpEndereco" type="text" class="form-control">
                </select>
            </div>
        </div>
        <hr />
        <div id="divAlerta" class="row mb-4 mt-4">
            <p id="mensagemErro" class="col-md-12"></p>
        </div>
        <hr />
        <div id="actions" class="row">
            <div class="col-md-12">
                <button type="button" class="btn btn-primary" id="btnSalvar">Salvar</button>
                <a href="/Controle/Index" class="btn btn-default">Cancelar</a>
            </div>
        </div>
    </div>

    <!-- jQuery (necessario para os plugins Javascript do Bootstrap) -->
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
</body>
</html>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/toastr")
    @Scripts.Render("~/Scripts/app/create.js")
}

