<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CRUD com Bootstrap 3</title>

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
</head>
<body>

    <!-- Modal -->
    <div class="modal fade" id="delete-modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Fechar"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="modalLabel">Excluir Aluno</h4>
                </div>
                <div class="modal-body">
                    Deseja realmente excluir os dados deste aluno?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="btnExcluir">Sim</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">N&atilde;o</button>
                </div>
            </div>
        </div>
    </div>

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                @*<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>*@
                <a class="navbar-brand" href="#">Projeto Engenharia 3</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                @*<ul class="nav navbar-nav navbar-right">
                        <li><a href="#">In&iacute;cio</a></li>
                        <li><a href="#">Op&ccedil;&otilde;es</a></li>
                        <li><a href="#">Perfil</a></li>
                        <li><a href="#">Ajuda</a></li>
                    </ul>*@
            </div>
        </div>
    </nav>

    <div id="main" class="container-fluid">
        <input type="hidden" id="idAluno" value="@ViewBag.Id">
        <h3 class="page-header">Visualizar Dados do Aluno</h3>

        <div class="row">
            <div class="col-md-4">
                <p><strong>Nome</strong></p>
                <p><strong id="txtAluno"></strong></p>
            </div>

            <div class="col-md-4">
                <p><strong>RA</strong></p>
                <p><strong id="txtRa"></strong></p>
            </div>

            <div class="col-md-4">
                <p><strong>Data Nascimento</strong></p>
                <p><strong id="txtDtNascimento"></strong></p>
            </div>

            <div class="col-md-4">
                <p><strong>Código</strong></p>
                <p><strong id="txtCodigo"></strong></p>
            </div>

            <div class="col-md-4">
                <p><strong>Validade</strong></p>
                <p><strong id="txtValidade"></strong></p>
            </div>

            <div class="col-md-4">
                <p><strong>Tipo Documento</strong></p>
                <p><strong id="txtTpDocumento"></strong></p>
            </div>

            <div class="col-md-4">
                <p><strong>Curso</strong></p>
                <p><strong id="txtCurso"></strong></p>
            </div>

            <div class="col-md-4">
                <p><strong>Modelo</strong></p>
                <p><strong id="txtModelo"></strong></p>
            </div>

            <div class="col-md-4">
                <p><strong>Tipo Curso</strong></p>
                <p><strong id="txtTpCurso"></strong></p>
            </div>

            <div class="col-md-4">
                <p><strong>Disciplina</strong></p>
                <p><strong id="txtDisciplina"></strong></p>
            </div>

            <div class="col-md-4">
                <p><strong>Logradouro</strong></p>
                <p><strong id="txtLogradouro"></strong></p>
            </div>

            <div class="col-md-4">
                <p><strong>Número</strong></p>
                <p><strong id="txtNumero"></strong></p>
            </div>

            <div class="col-md-4">
                <p><strong>CEP</strong></p>
                <p><strong id="txtCep"></strong></p>
            </div>

            <div class="col-md-4">
                <p><strong>Cidade</strong></p>
                <p><strong id="txtCidade"></strong></p>
            </div>

            <div class="col-md-4">
                <p><strong>Estado</strong></p>
                <p><strong id="txtEstado"></strong></p>
            </div>

            <div class="col-md-4">
                <p><strong>Tipo Endereço</strong></p>
                <p><strong id="txtTpEndereco"></strong></p>
            </div>
        </div>

        <hr />
        <div id="actions" class="row">
            <div class="col-md-12">
                <a href="/Controle/Index" class="btn btn-default">Fechar</a>
                <a href="Edit" class="btn btn-primary">Editar</a>
                <a href="#" class="btn btn-danger" data-toggle="modal" data-target="#delete-modal">Excluir</a>
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>
</html>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/toastr")
    @Scripts.Render("~/Scripts/app/details.js")
}


