<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Template Bootstrap</title>	  	  <!-- Bootstrap CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="Index">Projeto Engenharia 3</a>
            </div>
        </div>
    </nav>
    <br>
    <br>
    <div id="main" class="container-fluid">
        <input type="hidden" id="idDisciplina" value="@ViewBag.Id">
        <h2 class="page-header">Editar Disciplina</h2>
        <div class="row">
            <h3>Disciplina</h3>
            <div class="form-group col-md-6">
                <label for="nome">Nome</label>
                <input type="text" class="form-control" id="txtDisciplina" placeholder="Digite o nome da disciplina">
            </div>
            <div class="form-group col-md-6">
                <label for="curso">Curso</label>
                <select name="curso" type="text" class="form-control" id="ddlCurso">
                </select>
            </div>
        </div>
        <hr />
        <div id="actions" class="row">
            <div class="col-md-12">
                <button type="button" class="btn btn-primary" id="btnEditar">Editar</button>
                <a href="/Controle/Index" class="btn btn-default">Cancelar</a>
            </div>
        </div>
    </div>

    <!-- jQuery (necessario para os plugins Javascript do Bootstrap) -->
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
</body>
</html>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/toastr")
    @Scripts.Render("~/Scripts/app/editDisciplina.js")
}

